	<div class='FirstContentContainer'>
		<div class="row">
			<div class="col-lg-12 PageHearderContainer">
				<h3 class='ContentHeader'>{{ABOUT_BUTTON_ABOUT}}</h3>
				<img src='{{TEMPLATE_DIR}}/images/line.svg' class='PageHeaderLineImg'>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-12">
				<div style='margin-top: 40px; font-size: 20px; line-height: 1.6;'>
					{{{ABOUT_DESCRIPTION}}}
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-3" style='text-align: center; margin-top: 40px;'>
					<img src='{{TEMPLATE_DIR}}/images/logo_rs.png' style='height:   38px; margin-top: 20px;'>
			</div>
			<div class="col-lg-3" style='text-align: center; margin-top: 40px;'>
					<img src='{{TEMPLATE_DIR}}/images/logo_zssm.png' style='height: 80px;'>
			</div>
			<div class="col-lg-3" style='text-align: center; margin-top: 40px;'>
					<img src='{{TEMPLATE_DIR}}/images/logo_fri.png' style='height:  66px;'>
			</div>
			<div class="col-lg-3" style='text-align: center; margin-top: 40px;'>
					<img src='{{TEMPLATE_DIR}}/images/logo_eu.png' style='height:   55px; margin-top: 10px;'>
			</div>
		</div>
	</div>