	<div class=''>
		<div style='position: fixed; top: 0px; left: 0; width: 100%; height: 100%; background-color: white;'>
			<table style='width: 100%; height: 100%;'>
				<tr style='height: 80%;'>
					<td style='width: 45%; vertical-align: middle; text-align: center;'>
						<img src='{{TEMPLATE_DIR}}/images/logo.svg' style='width: 35%;'>
					</td>
					<td style='width: 55%'>
						<span style='font-size: 50px; line-height: 60px;'>
						{{MAIN_INTRODUCTION}}</span><br />
						<div id='MoreClassesButton' class='PointerCursor MoreClassesButton' style='display: inline-block; margin-top: 20px;' onclick='fetchContent("LOGIN");'>
							<div class='Centered' style='width: 200px; height: 50px; background-color: #32BCAD; color: white; display: inline-block; padding-top: 8px; font-size: 25px;'>
								<span>{{MAIN_BUTTON_JOIN_ME}}</span>
							</div>
						</div>
					</td>
				</tr>
				<tr style='height: 20%;'>
					<td colspan='2' style='background-color: #203341;'>
						
					</td>
				</tr>
			</table>
			
			
			
			<div style='position: fixed; bottom: 0; left: 0; width: 100%; height: 200px; '>
			
			</div>
			
			
			
			
		</div>
	
	
	
	</div>